@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #113f59;
    background-color: #f3edd3;
    width: 85%;
    margin: 3rem auto;
}

a {
    color: #00968B;
    text-decoration: none;
    transition: color 0.25s;
}

a:hover {
    color: #FF6F69;
}

header, main {
    margin: 2rem 15rem;
}

#divider {
    border: 1px solid grey;
    width: 100%;
    color: aqua;
}

#form {
    position: relative;
}

.hide {
    display: none;
}

.label-form {
    font-size: 1.4rem;
    color: #113f59;
    width: 10rem;
    display: inline-block;
    text-align: right;
}

input, select {
    font-size: 1rem;
}

.form-item {
    margin: 1rem;
}

#list-contact {
    padding: 0 1.5rem;
}

#list-contact li, #list-contact li a {
    font-size: 1.5rem;
    color: lightcoral;
}

.btn {
    padding: 0.4rem;
    margin: 1rem 0.3rem;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-add {
    background-color: #3a6e6d;
}

.btn-remove {
    background-color: #b51515;
}

.send-btn {
    width: 150px;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: #3a6e6d;
    font-size: 1.2rem;
    color: #fff;
    position: absolute;
    top: 200px;
    left: 74px;
}

.btn:hover, #send-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: .5s ease-in-out;
}

.btn-edit {
    background-color: lightsalmon;
    color: #113f59;
    font-weight: bold;
}

#details-contact {
    margin: 1rem 0;
}